.Login {
  width: 100vw;
  height: 100vh;
  background: url("../images/spring_staff_16_9_logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  .loginForm {
    color: rgb(145, 0, 0);
    font-weight: normal;
    text-align: center;
    font-family: pacifico;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    grid-row: 2;
    max-height: 285px;

    &.error {
      max-height: 360px;
    }

    h1 {
      padding-bottom: 10px;
      font-size: 60px;
    }
  }
}

@media screen and (min-width: 660px) {
  .Login {
    width: 100vw;
    height: 100vh;
    background: url("../images/spring_staff_16_9_logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30% auto auto;

    .loginForm {
      color: rgb(145, 0, 0);
      font-weight: normal;
      text-align: center;
      font-family: pacifico;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 20px;
      grid-column: 3;
      grid-row: 2;

      h1 {
        padding-bottom: 10px;
        font-size: 60px;
      }
    }
  }
}
